.Home{
    .title{
        color: #c33;
        font-family: 'Oswald', sans-serif;
        text-align: left;
        margin-top: 40px;
        margin-left: 40px;
        font-size: 26px;
    }
    .buttonAdd{
        position: absolute;
        background: #d14545;
        color: white;
        border-radius: 20px;
        top: 45px;
        left: 200px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        font-size: 19px;
    }
    .buttonProfile{
        position: absolute;
        background: #d14545;
        color: white;
        top: 45px;
        left: 200px;
        height: 32px;
        cursor: pointer;
        border-radius: 17px;
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .signOff{
        position: absolute;
        right: 40px;
        top: 45px;
        color: #9c9a9a;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
        @media screen and (max-width: 425px) {
            top: 10px;
            right: 20px;
        }

    }
    .ContainerCourses{
        margin-top: 25px;
        border: solid 1px #a09e9e;


    }
    .titleCouses{
        color: white;
        background: #cc3333e8;
        height: 40px;
    }
    .TitleItem{
        display: inline-block;
        width: 35%;
        margin-top: 5px;
    }
    .TitleItemIcon{
        display: inline-block;
        width: 15%;
        margin-top: 5px;
        @media screen and (max-width: 425px) {
            margin-left: -5px;

        }
    }
    .containerTitle{
        display: inline;

    }
    .containerIcons{
        display: inline;
    }
    .TitleReserved{
        display: inline-block;
        width: 30%;
        margin-top: 5px;
    }
    .CourseItem{
        border-bottom: solid 1px #9c9a9a94;
        .item{
            display: inline-block;
            width: 35%;
            margin-top: 5px;
            font-size: 15px;
            text-overflow: ellipsis;
            white-space:nowrap;
            overflow:hidden;
            @media screen and (max-width: 425px) {
                font-size: 11px;
                white-space: pre-wrap;
                overflow:hidden;
            }

        }
        .itemIcon{
            display: inline-block;
            width: 15%;
            margin-top: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        .iconItem{
            width: 40px;
            margin-bottom: 42px;
            @media screen and (max-width: 425px) {
                width: 35px;

            }
        }
        .itemSwitch{
            display: inline-block;
            width: 30%;
            margin-top: 15px;
        }
        
    }       
}