body {
    background: #ffffff;
    color: #1a1a1a;
    margin: auto;
    font-size: 20px;

}

.app-container {
    margin: auto;
    width: 800px;
    text-align: center;
}

img.logo {

    width: 250px;
    padding: 100px 100px 30px;
    margin: auto;
    display: block;
}

h4 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2.5px;
    line-height: 1;
    color: #c33;
}

h4 small {
    color: #777;
    display: block;
    font-size: 30px;
    text-transform: none;
    font-weight: lighter;
    margin-top: 10px;
    letter-spacing: 1.5px;
}